.header.d-flex.flex-column.justify-content-between.align-items-center(class=`${page}`)
  nav.topmenu.d-flex.justify-content-center
    a(href=`${page === 'index' ? '#about' : '/index.pug'}` class=`${page === 'index' ? 'active' : ''}`) About
    .line.align-self-center
    a(href=`${page === 'rules' ? '#' : '/rules.pug'}` class=`${page === 'rules' ? 'active' : ''}`) Rules
    .line.align-self-center
    a(href=`${page === 'scoring' ? '#' : '/scoring.pug'}` class=`${page === 'scoring' ? 'active' : ''}`) Scoring
  if page === 'index'
    .server-info.d-flex.align-items-center.flex-column.text-center
      h2 Economander
  if page === 'rules'
    .server-info.d-flex.align-items-center.flex-column.text-center
      h2 Economander
        br
        | Rules
  if page === 'scoring'
    .server-info.d-flex.align-items-center.flex-column.text-center
      h2 Economander
        br
        | Scoring